@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
:root {
  color-scheme: dark;
  --color-background: hsl(0 0 7);
  --color-text: hsl(0 0 90);
  --color-text-dim: hsl(0 0 70);
  --color-shade: hsl(0 0 7 / 0.1);
  --color-glass: hsl(240 5 50 / 0.1);
  --color-blue: hsl(212 92 58);
  --color-blue-bg: hsl(212 92 58 / 0.1);
  --color-purple: hsl(270 59 58);
  --color-purple-bg: hsl(270 59 58 / 0.1);
  --color-green: hsl(146 62 55);
  --color-green-bg: hsl(146 62 55 / 0.1);
  --color-red: hsl(339 90 61);
  --color-red-bg: hsl(339 90 61 / 0.1);
  --color-pink: hsl(317 100 72);
  --color-pink-bg: hsl(317 100 72 / 0.1);
  --color-yellow: hsl(37 91 64);
  --color-yellow-bg: hsl(37 91 64 / 0.1);
  --color-cyan: hsl(190 96 82);
  --color-cyan-bg: hsl(190 96 82 / 0.1);
  --color-zinc: hsl(240 5 65);
  --color-zinc-bg: hsl(240 5 65 / 0.1);
  --border-radius: 0.5rem;
  --font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
  	"Apple Color Emoji", "Segoe UI Emoji", sans-serif;
  --container-width: 50rem;
  --container-padding-x: 1.25rem;
  --button-height: 2.5rem;
  --transition-duration: 0.2s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-width: 100%;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  line-height: 1;
}

input,
textarea,
select,
option,
button {
  font: inherit;
}

button {
  cursor: pointer;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: var(--font-family);
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text-dim);
  background-color: var(--color-background);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  color: inherit;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text);
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: clamp(1rem, -1.6251875rem + 11.6675vw, 4.2085625rem);
}

h2 {
  font-size: clamp(1rem, -0.7650227273rem + 7.8445454545vw, 3.15725rem);
}

h3 {
  font-size: clamp(1rem, -0.1197329545rem + 4.9765909091vw, 2.3685625rem);
}

h4 {
  font-size: clamp(1rem, 0.364375rem + 2.825vw, 1.776875rem);
}

h5 {
  font-size: clamp(1rem, 0.7275454545rem + 1.2109090909vw, 1.333rem);
}

p {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  margin-block: 1rem;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: calc(var(--container-width) + 2 * var(--container-padding-x));
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 47.99875em) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 48em) {
  .visible-mobile {
    display: none !important;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.75rem;
  min-height: var(--button-height);
  border-radius: var(--border-radius);
}
.button:active {
  scale: 0.95;
}

.toggle-theme {
  height: var(--button-height);
  aspect-ratio: 1;
  color: var(--color-text-dim);
  border: 1px solid var(--color-glass);
  border-radius: var(--border-radius);
}
.toggle-theme:hover {
  color: var(--c-text);
  background-color: var(--color-glass);
}
.toggle-theme:active {
  scale: 0.95;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 0.625rem;
  background-color: var(--color-shade);
  border: 1px solid var(--color-glass);
  backdrop-filter: blur(20px);
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__button {
  color: var(--color-text-dim);
}
.header__button:hover {
  color: var(--color-text);
  background-color: var(--color-glass);
}
footer {
  height: 5000px;
}

.hero {
  margin-top: 8.125rem;
}
.hero__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.125rem;
}
.hero__description {
  color: var(--color-text);
  font-size: 1.5rem;
}
.hero__summary {
  margin-bottom: 0;
}
.hero__image-wrapper {
  flex: 0 0 auto;
  width: 9.375rem;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
}
.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.skills__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 33.75rem;
}
.skills__button {
  cursor: default;
}
.skills__button--blue {
  color: var(--color-blue);
  background-color: var(--color-blue-bg);
}
.skills__button--purple {
  color: var(--color-purple);
  background-color: var(--color-purple-bg);
}
.skills__button--green {
  color: var(--color-green);
  background-color: var(--color-green-bg);
}
.skills__button--red {
  color: var(--color-red);
  background-color: var(--color-red-bg);
}
.skills__button--pink {
  color: var(--color-pink);
  background-color: var(--color-pink-bg);
}
.skills__button--yellow {
  color: var(--color-yellow);
  background-color: var(--color-yellow-bg);
}
.skills__button--cyan {
  color: var(--color-cyan);
  background-color: var(--color-cyan-bg);
}
.skills__button--zinc {
  color: var(--color-zinc);
  background-color: var(--color-zinc-bg);
}
