@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  color-scheme: dark;
  --color-dark: hsl(240 4 9);
  --color-background: hsl(240 7 11);
  --color-shade: hsl(240 7 11 / 0.1);
  --color-glass: hsl(240 7 50 / 0.1);
  --color-text: hsl(0 0 100 / 0.9);
  --color-text-dim: hsl(0 0 100 / 0.6);
  --border-radius: 0.5rem;
  --font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
  	"Apple Color Emoji", "Segoe UI Emoji", sans-serif;
  --container-width: 50rem;
  --container-padding-x: 1.25rem;
  --button-height: 2.25rem;
  --transition-duration: 0.2s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-width: 100%;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  line-height: 1;
}

input,
textarea,
select,
option,
button {
  font: inherit;
}

button {
  cursor: pointer;
}

svg * {
  transition-property: fill, stroke;
}

body {
  font-family: var(--font-family);
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  font-weight: 400;
  line-height: 1.75;
  color: var(--color-text);
  background-color: var(--color-background);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  color: inherit;
  background-color: transparent;
}

pre,
code {
  font-family: "JetBrains Mono", monospace;
}

h1,
h2 {
  color: var(--color-text);
  font-weight: 600;
  line-height: 1.333;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

h1 {
  font-size: clamp(1rem, -0.6363636364rem + 7.2727272727vw, 3rem);
}

h2 {
  font-size: clamp(1rem, 0.5909090909rem + 1.8181818182vw, 1.5rem);
}

p {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  margin-block: 1rem;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: calc(var(--container-width) + 2 * var(--container-padding-x));
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 47.99875em) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 48em) {
  .visible-mobile {
    display: none !important;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.75rem;
  min-height: var(--button-height);
  border-radius: var(--border-radius);
}
.button:active {
  scale: 0.95;
}

.toggle-theme {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: var(--button-height);
  aspect-ratio: 1;
  color: var(--color-text-dim);
  border: 1px solid var(--color-glass);
  border-radius: var(--border-radius);
}
.toggle-theme:hover {
  color: var(--color-text);
  background-color: var(--color-glass);
}
.toggle-theme:hover svg *[fill] {
  fill: var(--color-text);
}
.toggle-theme:hover svg *[stroke] {
  stroke: var(--color-text);
}
.toggle-theme:active {
  scale: 0.95;
}
.toggle-theme svg *[fill] {
  fill: var(--color-text-dim);
}
.toggle-theme svg *[stroke] {
  stroke: var(--color-text-dim);
}

.section {
  padding-block: 2.5rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding-block: 0.625rem;
  background-color: var(--color-shade);
  border: 0.0625rem solid var(--color-glass);
  backdrop-filter: blur(20px);
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__button {
  color: var(--color-text-dim);
}
.header__button:hover {
  color: var(--color-text);
  background-color: var(--color-glass);
}
.hero {
  margin-top: 9.375rem;
}
.hero__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5.3125rem;
}
.hero__description {
  display: inline-block;
  font-weight: 500;
  color: var(--color-text);
  margin-bottom: 0.5rem;
}
.hero__summary {
  margin-bottom: 0;
}
.hero__image-wrapper {
  flex: 0 0 auto;
  width: 9.375rem;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
}
.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.skills__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 25rem;
}
.skills__button {
  cursor: default;
  border: 0.0625rem solid var(--color-glass);
}
.skills__button:hover {
  background-color: var(--color-glass);
}

.code__field {
  background-color: var(--color-glass);
  border-radius: var(--border-radius);
}
.code__field-heading {
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 0.625rem;
}
.code__circles {
  flex: 0 0 auto;
  display: inline-flex;
  column-gap: 0.75rem;
}
.code__circle {
  width: 0.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
.code__circle--pink {
  background-color: #f31260;
}
.code__circle--orange {
  background-color: #f5a524;
}
.code__circle--green {
  background-color: #17c964;
}
.code__title {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  font-size: 0.75rem;
  line-height: 1.75;
  margin-right: 3.75rem;
  color: var(--color-text-dim);
}
.code__field-body {
  margin-top: -12px;
  padding-inline: 1.5rem;
}
.code__code-wrapper {
  display: flex;
}
.code__code {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.75;
}

.projects__list {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.projects__item {
  position: relative;
  flex: 0 0 calc((100% - 12px) / 4);
  aspect-ratio: 1/3;
}
.projects__link:hover .projects__name {
  height: 16%;
  padding: 1rem;
}
.projects__link:hover .projects__image {
  opacity: 1;
}
.projects__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
  transition: all 0.5s ease 0s;
}
.projects__name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.333;
  text-transform: uppercase;
  padding-left: 1rem;
  overflow: hidden;
  background-color: var(--color-dark);
  transition: all 0.5s ease 0s;
}

.education__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.education__item {
  flex: 0 0 calc((100% - 24px) / 3);
  aspect-ratio: 1/1;
}
.education__card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.0625rem solid var(--color-glass);
  border-radius: var(--border-radius);
  padding: 1rem;
  transition-duration: var(--transition-duration);
}
.education__title {
  font-size: 1.5rem;
  font-weight: 500;
}
.languages__list {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.languages__item {
  flex: 0 0 calc((100% - 8px) / 2);
}
.languages__item:hover .languages__image {
  opacity: 0.5;
}
.languages__language {
  position: relative;
  padding: 1rem;
  border-radius: 0.25rem;
  overflow: hidden;
  line-height: 1.5;
}
.languages__name {
  font-size: 1.25rem;
  font-weight: 600;
}
.languages__level {
  font-size: 0.875rem;
}
.languages__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -10;
  opacity: 0.3;
  transition-duration: 0.5s;
}

.footer {
  padding-block: 0.875rem;
  border-top: 0.0625rem solid var(--color-glass);
}
.footer__row {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.footer__item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer__item:has(.footer__dev) {
  flex: 1 1 auto;
}
.footer__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
