@use "functions" as func;
@use "mixins" as mixin;
@use "media" as media;

h1 {
	font-size: func.fluid(43, 60, 360, 1440);
}

h2 {
	font-size: func.fluid(43, 60, 360, 1440);
}

h3 {
	font-size: func.fluid(43, 60, 360, 1440);
}

h4 {
	font-size: func.fluid(43, 60, 360, 1440);
}

h5 {
	font-size: func.fluid(43, 60, 360, 1440);
}

h6 {
	font-size: func.fluid(43, 60, 360, 1440);
}
