@use 'functions' as func;
@use 'mixins' as mixin;
@use 'media' as media;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	margin-top: func.rem(32);
	margin-bottom: func.rem(16);
}

h1 {
	font-size: func.fluid(16, 67.337, 360, 800);
}

h2 {
	font-size: func.fluid(16, 50.516, 360, 800);
}

h3 {
	font-size: func.fluid(16, 37.897, 360, 800);
}

h4 {
	font-size: func.fluid(16, 28.43, 360, 800);
}

h5 {
	font-size: func.fluid(16, 21.328, 360, 800);
}

p {
	font-size: func.fluid(16, 16, 360, 800);
}
