@use 'functions' as func;
@use 'mixins' as mixin;
@use 'media' as media;

:root {
	color-scheme: dark;

	--color-dark: hsl(0 0 0);
	--color-light: hsl(0 0 90);
	--color-gray: hsl(0 0 70);
	--color-bg1: hsl(0 0 0 / 0.1);
	--color-bg2: hsl(0 0 70 / 0.1);

	--border-radius: #{func.rem(8)};

	--font-family: 'Inter', system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', sans-serif;

	--container-width: #{func.rem(800)};
	--container-padding-x: #{func.rem(20)};

	--button-height: #{func.rem(40)};

	--transition-duration: 0.2s;
}
